html {
    color: white;
    background-color: rgb(34, 34, 34);
}

.heading {
    margin-top: 20px;
}

.heading h1 {
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    margin: 0;
}

.main {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.selection {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
    padding: 50px 20px;
    flex: 1;
}

.selection button {
    margin: auto;
    height: 40px;
    width: 200px;
    border: solid black 2px;
    background-color: rgb(192, 244, 228);
    border-radius: 10px;
}

.colorchange {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.colorchange p,
.colorchange input {
    margin: 0;
    flex: 1;
}

button:hover {
    background-color: rgba(192, 244, 228, 0.8);
    border-color: rgb(0, 0, 0);
}

.gridDimension {
    width: 200px;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.gridDimension::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.grid {
    margin: auto;
    padding: 50px;
    flex: 0;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex: 1;
}

.column {
    outline: dashed rgba(0, 0, 0, 0.1) 1px;
    margin: 0;
    flex: 1;
    background-color: white;
}